/* Step 7 */

style.css
.content li {
  margin-bottom: 10px;
}

body {
  background: white;
  background-size: 2000px;
  padding: 30px;
  margin: 0;
}
.title {
  color: black;
  text-align: center;
}
h1 {
  font-family: 'calibri';
  text-align: center;
  font-weight: bold;
  font-size: 75px;
  
}

h2, p, ul, li {
    font-family: 'calibri';
    text-align: center;
    font-size: 18px;
  }

p2 {
    font-family: 'Arial';
    text-align: center;
    font-size: 18px;
  }

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header1 li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header {
  background-color: black;
  text-align: left;
  padding-right: 8cm;  
}

ul.header1 {
  background-color: black;
  text-align: right;

  
}

ul.header li a {
  color: white;
  font-weight: 250;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

ul.header li1 a {
  color: white;
  font-weight: 500;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

ul.header1 li a {
  color: white;
  font-weight: 250;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.content {
  outline: 4px solid black;
  outline-offset: 0px;
  padding: 30px;
}

.content h2 {
  color: black;
  padding: 0;
  margin: 0;
}

.content p {
    color: black;
    padding: 0;
    margin: 30;
    letter-spacing: 1px;
    line-height: 35px;
}

.content p2 {
  color: black;
  padding: 0;
  margin: 30;
  letter-spacing: 1px;
  line-height: 35px;
}

.btn-btn {
  align-content: center;
}



/* .content h4 {
  color: #FFF;
  padding: 0;
  margin: 0;
} */
